html, body {
    margin: 0;          /*Remove margin of the body*/
    height: 100%;       /*Completely fill the window*/
    background-color: skyblue;
}

/*The canvas occupies all its container (the body of the document)*/
#c {
    width: 100%;
    height: 100%;
    display: block;     /*Default inline (it may add white spaces)*/
}

t {                     /*Menu title*/
    margin-top: 70px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 75px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: goldenrod;
    display: block;
}

subtitle {              /*Also used for the rules*/
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    display: block;
}

.menu-button {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    font-size: 23px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: white;
    display: block;
}

#crosshair {            /*"+" in the middle of the screen*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 63px;
    font-weight: bold;
    color: black;
    display: none;
}

#power {                /*Current shot power (from 0 to 10)*/
    position: absolute;
    top: 88%;
    left: 38%;
    background-color: black;
    font-size: 55px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: goldenrod;
    display: none;
}

#timer {                /*Time left*/
    position: absolute;
    top: 78%;
    left: 87%;
    background-color: black;
    font-size: 100px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: goldenrod;
    display: block; 
}

#hit {                  /*Warning that says if you hit or missed*/
    position: fixed;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    font-size: 42px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: goldenrod;
    display: none; 
}

#gameOver {             /*Says who won*/
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: black;
    text-align: center;
    font-size: 70px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    display: none;
}

.end-button {           /*Game over buttons*/
    margin: 0 auto;
    margin-bottom: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    font-size: 23px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: white;
    display: inline;
}